:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    header {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 auto;
        margin-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
        app-project-selector {
            margin-right: 10px;
        }
    }
    mat-progress-bar {
        margin-top: -10px;
    }
    main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .articles-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            overflow-y: auto;
            app-article:not(:empty) {
                margin: 4px;
                padding: 4px;
            }
        }
        app-search {
            flex: 0 0 auto;
        }
    }
}